.js-button-dialog {
  position: fixed;
  z-index: 10001;
  background: #fff;
  right: 10%;
  bottom: 30px;
  margin: 0 -80px 0 0;
  overflow: hidden;
  border: solid 1px #dddddd;
  border-radius: 28px;
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  transition: width 100ms linear;
  font-family: "Mont";
}

.js-button-dialog:focus {
  outline: 0;
}

.js-button-image {
  width: 40px;
  height: 40px;
}
.js-button-image-wrapper {
  width: 42px;
  height: 51px;
  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.js-button-header {
  font-size: 16px;
  font-weight: bold;
}
.js-button-info {
  font-size: 8px;
  opacity: 0.5;
}
.js-button-text {
  display: flex;
  transition: opacity 1s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
  flex-direction: column;
  width: 200px;
  margin-right: 14px;
  margin-left: 8px;
}

.js-chat-overlay {
  z-index: 10002;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.2;
  background-color: #000;
}

.js-chat-window {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  z-index: 10003;
  background: #fff;

  top: 15%;

  width: 462px;
  height: 473px;
  padding: 40px 40px;

  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.js-chat-display {
  width: 100%;
  display: flex;
  justify-content: center;
}

.js-chat-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}
.js-chat-message-placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  flex: 1;
}
.js-chat-message-placeholder:nth-child(1) {
  margin-top: 80px;
}
.js-chat-empty {
  margin-top: 60px;
  width: 176px;
  height: 72px;
}
.js-widget-overlay {
  z-index: 10002;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.2;
  background-color: #000;
}
.js-widget-window {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10003;
  background: #fff;

  top: 15%;

  width: 760px;
  padding: 20px 60px;
  padding-top: 60px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.js-widget-dialog {
  width: 376px;
  font-size: 12px;
  margin-top: 10px;
}
.js-widget-dialog > h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0px;
}
.js-widget-dialog > span {
  opacity: 0.5;
}
.js-widget-icons {
  width: 210px;

  margin-right: 55px;
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.js-widget-display {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Mont";
}
.js-widget-image {
  width: 214px;
  height: 337px;
  margin-left: 20px;
  margin-top: -10px;
}

.js-widget-download {
  width: 210px;
  display: flex;
  justify-content: space-between;
  height: 42px;
}
.js-widget-ios {
  width: 85px;
  height: 28px;
  margin-top: -36px;
}
.js-widget-android {
  width: 95px;
  height: 27px;
  margin-top: -35px;
}
.js-widget-lowrow {
  width: 100%;
  margin-top: 101px;
  margin-bottom: 34px;
  display: flex;
  justify-content: flex-start;
}
.js-widget-getstream {
  width: 258px;
  height: 44px;
  font-size: 12px;
  font-weight: 600;

  background: #ff2d55;
  color: white;
  border-radius: 32px;
  border-style: none;
  box-shadow: 0px 4px 15px rgba(255, 45, 85, 0.8);
}
