#eyezonRoot {
  position: absolute !important;
  top: -8px !important;
  left: -8px !important;
}

#eyezonRoot button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
