<div class="js-widget-display">
  <div class="js-widget-overlay"></div>
  <div class="js-widget-window">
    <div class="js-widget-dialog">
      <h2>Что такое eyezon?</h2>
      Это инструмент для видео-трансляций нового поколения, напрямую соединяющий
      вас с тем, кто может показать интересующий вас видео-обзор. <br />
      <br /><br /><br />
      <h2>Как он работает?</h2>
      Используя искусственный интеллект, система анализирует все фото и короткие
      видео в приложении и, сопоставляя эти результаты с поисковым запросом,
      выдает в качестве результата только те изобажнеия, которые ему релевантны.
      Остается отправить запрос и ждать, когда автор сможет прислать видео-ответ
      на него.
    </div>
    <div class="js-widget-icons">
      <img src="./image.png" class="js-widget-image" />
      <div class="js-widget-download">
        <img src="./androidDownload.png" class="js-widget-android" />
        <img src="./iosDownload.png" class="js-widget-ios" />
      </div>
    </div>
    <div class="js-widget-lowrow">
      <button class="js-widget-getstream">Запросить трансляцию</button>
    </div>
  </div>
</div>
