<div class="js-widget-display">
  <div class="js-widget-overlay"></div>
  <div class="js-widget-window">
    <div class="js-widget-dialog">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. <br /><br /><br /><br />Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="js-widget-icons">
      <img src="./image.png" class="js-widget-image" />
      <div class="js-widget-download">
        <img src="./androidDownload.png" class="js-widget-android" />
        <img src="./iosDownload.png" class="js-widget-ios" />
      </div>
    </div>
    <div class="js-widget-lowrow">
      <button class="js-widget-getstream">Запросить трансляцию</button>
    </div>
  </div>
</div>
