.js-button-dialog {
  position: fixed;
  z-index: 10001;
  background: #fff;
  right: 10%;
  bottom: 30px;
  margin: 0 -80px 0 0;
  overflow: hidden;
  border: solid 1px #dddddd;
  border-radius: 28px;
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  transition: width 100ms linear;
  font-family: "Mont";
}

.js-button-dialog:focus {
  outline: 0;
}

.js-button-image {
  width: 40px;
  height: 40px;
}
.js-button-image-wrapper {
  width: 42px;
  height: 51px;
  border-radius: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.js-button-header {
  font-size: 16px;
  font-weight: bold;
}
.js-button-info {
  font-size: 8px;
  opacity: 0.5;
}
.js-button-text {
  display: flex;
  transition: opacity 1s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
  flex-direction: column;
  width: 200px;
  margin-right: 14px;
  margin-left: 8px;
}
